# R script to analyse inbreeding in the GLUE dataset

## Setup

### Libraries required

In [1]:
library(matrixStats)

## Mean values of inbreeding coef per pairs of habitat in each city

In [4]:
list<-c("Albuquerque", "Antwerp", "Armidale","Athens","Buenos_Aires",
        "Calgary","Cape_Town","Christchurch","Kunming","Landshut","Linkoping","Loja","Memphis",
        "Mexico_City","Munich","Palmerston_North","Punta_Arenas","Quito","Sapporo","Tehran",
        "Thessaloniki","Toronto","Vancouver","Warsaw")

samples<-read.csv("/scratch/projects/trifolium/glue/demography/glue_demography/genomic-analyses/resources/glue_noLowCities_sampleSheet_noRelated.txt", header=TRUE, sep="\t")
detail_small<-samples[,(5:6)]
columns<- c("city","habitat_combo","rab","rab_sd","inbred_relatedness","inbred_relatedness_sd","king", "king_sd") 
table_inbreeding<- data.frame(matrix(nrow = 0, ncol = length(columns))) 


for (city in list){
  data <- read.table(paste0("/scratch/projects/trifolium/glue/demography/glue_demography/results/population_structure/ngsrelate/",city,"/",city,"_4fold_maf0.05_NGSrelate.out"),header=TRUE)
  data$ida<-gsub("_4fold.bam","",as.character(data$ida))
  data$idb<-gsub("_4fold.bam","",as.character(data$idb))
  #name <-paste0(city,'_order_detail')
  tmp <-merge(data, detail_small,  by.x="ida", by.y="sample", all.x=TRUE, all.y=FALSE, sort=FALSE) 
  tmp2 <-merge(tmp, detail_small,  by.x="idb", by.y="sample", all.x=TRUE, all.y=FALSE, sort=FALSE) 
  
  r_r<-subset(tmp2,site.x=="r" & site.y=="r" & rab<=0.5)
  r_u<-subset(tmp2,(site.x=="u" & site.y=="r")|(site.x=="r" & site.y=="u") & rab<=0.5)
  u_u<-subset(tmp2,site.x=="u" & site.y=="u" & rab<=0.5)
  rr_rab<-mean(r_r$rab)
  rr_rab_sd<-sd(r_r$rab)
  ru_rab<-mean(r_u$rab)
  ru_rab_sd<-sd(r_u$rab)
  uu_rab<-mean(u_u$rab)
  uu_rab_sd<-sd(u_u$rab)
  
  rr_inbred_relatedness<-mean(rbind(r_r$inbred_relatedness_1_2,r_r$inbred_relatedness_2_1))
  rr_inbred_relatedness_sd<-sd(rbind(r_r$inbred_relatedness_1_2,r_r$inbred_relatedness_2_1))
  ru_inbred_relatedness<-mean(rbind(r_u$inbred_relatedness_1_2,r_u$inbred_relatedness_2_1))
  ru_inbred_relatedness_sd<-sd(rbind(r_u$inbred_relatedness_1_2,r_u$inbred_relatedness_2_1))
  uu_inbred_relatedness<-mean(rbind(u_u$inbred_relatedness_1_2,u_u$inbred_relatedness_2_1))
  uu_inbred_relatedness_sd<-sd(rbind(u_u$inbred_relatedness_1_2,u_u$inbred_relatedness_2_1))
  rr_KING<-mean(r_r$KING)
  rr_KING_sd<-sd(r_r$KING)
  ru_KING<-mean(r_u$KING)
  ru_KING_sd<-sd(r_u$KING)
  uu_KING<-mean(u_u$KING)
  uu_KING_sd<-sd(u_u$KING)
  table_inbreeding[nrow(table_inbreeding) + 1,] = c(city,"rr",rr_rab,rr_rab_sd,rr_inbred_relatedness,rr_inbred_relatedness_sd,rr_KING,rr_KING_sd)
  table_inbreeding[nrow(table_inbreeding) + 1,] = c(city,"ru",ru_rab,rr_rab_sd,ru_inbred_relatedness,ru_inbred_relatedness_sd,ru_KING,ru_KING_sd)
  table_inbreeding[nrow(table_inbreeding) + 1,] = c(city,"uu",uu_rab,uu_rab_sd,uu_inbred_relatedness,uu_inbred_relatedness_sd,uu_KING,uu_KING_sd)
  
  }

head(table_inbreeding)

  X1          X2 X3                   X4                 X5
1 Albuquerque rr 0.00462092218350755  0.0244060510416697 0.000951843786295006
2 Albuquerque ru 0.000383486394557823 0.0244060510416697 0.000141582482993197
3 Albuquerque uu 0.00429529384436702  0.0149602881517866 0.00109451219512195
4 Antwerp     rr 0.00399674920634921  0.0140781979464248 0.00143817222222222
5 Antwerp     ru 0.00114503861788618  0.0140781979464248 0.000330377371273713
6 Antwerp     uu 0.00270985731707317  0.0177682119744673 0.000525480487804878
  X6                  X7                 X8
1 0.00558424820110243 -0.303582337979094 0.330162351991355
2 0.00100161839524636 -0.308470256802721 0.30473140991679
3 0.00474350606536169 -0.288119148664344 0.251878786161756
4 0.0061976893704563  -0.691521836507937 0.687678760288032
5 0.00198704503114913 -0.456071760840108 0.479949726050966
6 0.00439372839928926 -0.262508463414634 0.329181301724695